@{
    ViewData["Title"] = "MCU Khusus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @await Html.PartialAsync("_Sidebar")
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @await Html.PartialAsync("_Navbar")

                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            <div class="mt-3">
                                <div class="row align-items-center">
                                    <div class="d-flex justify-content-end">
                                        <a class="btn btn-warning" asp-controller="FirstMCU" asp-action="Upload"><i class="menu-icon bx bx-upload"></i> Upload</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 my-4 order-0">
                                <div class="card">
                                    <div class="d-flex align-items-end row">
                                        <div class="col-sm-12">
                                            <div class="card-body">
                                                <div class="table-responsive text-nowrap">
                                                    <table class="table">

                                                        <thead>
                                                            <tr>
                                                                <th>NIK</th>
                                                                <th>Name</th>
                                                                <th>Department</th>
                                                                <th>Birth Date</th>
                                                                <th>Created By</th>
                                                                <th>Created At</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>00001</td>
                                                                <td>Akmal</td>
                                                                <td>IT</td>
                                                                <td>31/12/2002</td>
                                                                <td>Admin</td>
                                                                <td>03/08/2024</td>
                                                                <td>
                                                                    <a asp-action="">Details</a>
                                                                </td>
                                                            </tr>
                                                           @*  @foreach (var firstMCU in Model)
                                                            {
                                                                <tr>
                                                                    <td>@firstMCU.IdTransaction</td>
                                                                    <td>@firstMCU.NIK</td>
                                                                    <td>@firstMCU.Name</td>
                                                                    <td>@firstMCU.Department</td>
                                                                    <td>@firstMCU.CreatedBy</td>
                                                                    <td>@firstMCU.CreatedAt</td>

                                                                    <!--Modal edit data -->
                                                                </tr>
                                                            } *@
                                                        </tbody>
                                                        @* 
                                                        <td>
                                                        <a class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#editUserModal-firstMCU.NIK">Download</a>                                                       
                                                        </td>
                                                        <!--Modal edit data -->
                                                        <div class="modal fade" id="editUserModal-@user.Id" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                                                        </div>
                                                        <form method="POST" asp-action="Edit" asp-controller="Karyawan">
                                                        <div class="modal-body">
                                                        <input type="hidden" name="Id" value="@user.Id" />
                                                        <div class="mb-3">
                                                        <label for="name" class="form-label">Name</label>
                                                        <input type="text" class="form-control" id="name" name="Name" asp-for="@user.Name">
                                                        </div>
                                                        <div class="mb-3">
                                                        <label for="email" class="form-label">Email</label>
                                                        <input type="text" class="form-control" id="email" name="Email" asp-for="@user.Email">
                                                        </div>
                                                        <div class="mb-3">
                                                        <label for="department" class="form-label">Department</label>
                                                        <input type="text" class="form-control" id="departement" name="Departement" asp-for="@user.Departement">
                                                        </div>
                                                        <div class="mb-3">
                                                        <label for="department" class="form-label">Password</label>
                                                        <input type="text" class="form-control" id="password" name="Password" asp-for="@user.Password">
                                                        </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                        <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                                                        </div>
                                                        </form>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <!--Modal delete data -->
                                                        <div class="modal fade" id="deleteUserModal-@user.Id" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h5 class="modal-title" id="editUserModalLabel">Konfirmasi</h5>
                                                        </div>
                                                        <form method="POST" asp-action="Delete" asp-controller="Karyawan">
                                                        <div class="modal-body m-0">
                                                        <p>Yakin ingin menghapus user <strong>@user.Name</strong> ?</p>
                                                        <input type="hidden" name="Id" value="@user.Id" />
                                                        </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                                                        <button type="submit" class="btn btn-danger">Ya, Hapus</button>
                                                        </div>
                                                        </form>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        </tr>
                                                        } *@
                                                    </table>
                                                </div>
                                                <!-- / Content -->
                                                <div class="content-backdrop fade"></div>
                                            </div>
                                            <!-- Content wrapper -->
                                        </div>
                                        <!-- / Layout page -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>